{% extends "layout.html" %}

{% block contents %}
<h1>USA Finance Historical Data</h1>
<form action='/'>
	<table>
		<tr>
			<td>Company:</td>
			<td>
				<select name='symbol'>
					<option value='GOOG'>Alphabet Inc. (GOOG)</option>
					<option value='AMZN'>Amazon.com, Inc. (AMZN)</option>
					<option value='AAPL'>Apple Inc. (AAPL)</option>
					<option value='FB'>Facebook, Inc. (FB)</option>
					<option value='INTC'>Intel Corporation (INTC)</option>
					<option value='NFLX'>Netflix, Inc. (NFLX)</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Since:</td>
			<td>
				<label for='start_year'>year</label>
				<input type='number', name='start_year', size='4', min='2000', max='2050', value='2022' />
				<label for='start_month'>month</label>
				<input type='number', name='start_month', size='2', min='1', max='12', value='1' />
				<label for='start_day'>day</label>
				<input type='number', name='start_day', size='2', min='1', max='31', value='1' />
			</td>
		</tr>
		<tr>
			<td>Until:</td>
			<td>
				<label for='end_year'>year</label>
				<input type='number', name='end_year', size='4', min='2000', max='2050', value='2022' />
				<label for='end_month'>month</label>
				<input type='number', name='end_month', size='2', min='1', max='12', value='1' />
				<label for='end_day'>day</label>
				<input type='number', name='end_day', size='2', min='1', max='31', value='1' />
			</td>
		</tr>
		<tr>
			<td></td>
			<td><input type='submit' value='Submit' />
		</tr>
	</table>
</form>
{% if results is defined %}
<hr />
<h2>{{ symbol }}</h2>
<table border=1>
	<tr>
		<th>Date</th>
		<th>Open</th>
		<th>High</th>
		<th>Low</th>
		<th>Close</th>
		<th>Volume</th>
	</tr>
	{% for row in results.itertuples() %}
	<tr>
		<td>{{ row.Index.date() }}</td>
		<td>{{ row.Open }}</td>
		<td>{{ row.High }}</td>
		<td>{{ row.Low }}</td>
		<td>{{ row.Close }}</td>
		<td>{{ row.Volume }}</td>
	</tr>
	{% endfor %}
</table>
{% endif %}
{% endblock %}
